@model List<Product>

@{
    decimal newPrice = 0;
    var actionName = ViewData["actionUrl"];
    var brandStatus = ViewData["brandStatus"] as string; 
    
}


<section >
    @if (User.IsInRole("Admin"))
    {
        <div>
            <a href="/product/create" class="btn btn-outline-success mx-2 mt-4 rounded">
                <i class="bi bi-plus-circle-fill"></i>
                Create New Product
            </a>
            @if(actionName == "ShowDeleted")
            {
                <a href="/product/Index" class="btn btn-outline-danger mx-2 mt-4 rounded">
                    Back to Products
                </a>
            }else
            {
                <a href="/product/ShowDeleted" class="btn btn-outline-danger mx-2 mt-4 rounded">
                    View Deleted Products
                </a>
            }
        </div>
    }
    <div class="container py-5">
        <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 g-4">
            @foreach (var product in Model)
            {
                <div class="col">
                        <div class="row mb-3">
                            @if (User.IsInRole("Admin"))
                            {
                                <div class="col-12">
                                    <div class="d-flex justify-content-end">
                                    <a href="/Product/Update/@product.Id" class=" btn btn-sm btn-outline-warning me-2"><i class="bi bi-pencil-square"></i></a>
                                    @if(actionName == "ShowDeleted" || brandStatus == "deleted")
                                    {
                                        <a href="/Product/Restore/@product.Id" class=" btn btn-sm btn-outline-danger me-2">Restore</a>
                                    }else
                                    {
                                        <a href="/Product/Delete/@product.Id" class=" btn btn-sm btn-outline-danger me-2"><i class="bi bi-trash"></i> </a>
                                    }

                                    @* <button class=" btn btn-sm btn-outline-danger me-2" onclick="showCancelModal('@product.Id')">
                                      <i class="bi bi-trash"></i>
                                    </button> *@
                                </div>
                         </div>
                            }
                    </div>
                    
                    <div class="card border-danger position-relative">
                        @if (product.Discount != null && product.Discount.DiscountPercent > 0)
                        {
                            <div class="discount-label position-absolute top-25 start-25">
                                <span class="badge rounded-pill bg-danger">@product.Discount.DiscountPercent% OFF</span>
                            </div>
                        }

                        @if (product.AverageRating != null)
                        {
                            <div class="rating-label position-absolute top-25 end-25">
                                <span class="badge rounded-pill bg-primary text-light">@product.AverageRating <i class="fa fa-star text-warning"></i></span>
                            </div>
                        }


                        @{
                            var imageUrl = product.ProductImages.Any()
                            ? Url.Content("/images/products/product-" + product.Id + "/" + product.ProductImages[0].ImageUrl)
                            : Url.Content("/images/backup_img.jpg");
                        }
                        <img src="@imageUrl" class="card-img-top product-image" alt="Product Image" />



                        <div class="card-body">
                            @if(@product.QuantityInStock <= 3 )
                            {
                                if(product.QuantityInStock == 0)
                                {
                                    <p class="badge text-bg-secondary">Out Of Stock </p>
                                }
                                else if (product.QuantityInStock == 1)
                                {
                                    <p class="badge text-bg-danger">Only @product.QuantityInStock item left </p>
                                }
                                else{<p class="badge text-bg-danger">Only @product.QuantityInStock items left </p>}
                            }
                            else{<p class="badge text-bg-success">In Stock </p>}
                            @if (product.Brands != null)
                            {
                                <h6 class="card-subtitle mb-2 text-muted">@product.Brands.Name</h6>
                            }
                            <h6 class="card-title">@product.Name</h6>
                            @if (product.DiscountId != null)
                            {
                                newPrice = product.Price - (product.Price * product.Discount.DiscountPercent / 100);
                                <div>
                                    <p class="text-dark">@newPrice<small>EGP</small> <span class="small text-danger"><s>@product.Price<small>EGP</small></s></span></p>
                                </div>
                            }
                            else
                            {
                                newPrice = product.Price;
                                <p class="text-dark">@newPrice<small>EGP</small></p>
                            }
                            <div class="mt-2 d-flex justify-content-between align-items-center">
                                <a href="/product/Details?id=@product.Id" class="btn btn-outline-info btn-sm">
                                    <i class="bi bi-eye-fill me-1"></i>
                                    <small>Details</small>
                                </a>
                                
                                <a href="/Wishlist/AddProductToWishlist/@product.Id" class="btn btn-sm btn-outline-danger">
                                    <i class="bi bi-heart"></i>
                                </a>
                              
                                @if (product.QuantityInStock < 1)
                                {
                                    <button class="btn btn-primary btn-sm" disabled>
                                        <small>Out Of Stock</small>
                                    </button>
                                }
                                else
                                {
                                    <a href="/cart/addTocart/@product.Id" class="btn btn-outline-success btn-sm">
                                         <small>Add To Cart</small><i class="bi bi-cart-plus me-1"></i>
                                    </a>
                                }
                            </div>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</section>



@* <div class="modal fade" id="cancelModal" tabindex="-1" aria-labelledby="cancelModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="cancelModalLabel">Confirm Deletion</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                Are you sure you want to delete this product?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger rounded" id="confirmCancelBtn"> Yes</button>
                <button type="button" class="btn btn-secondary rounded" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>


    <script>
        function showCancelModal(productId) {
            $('#confirmCancelBtn').data('product-id', productId);
            $('#cancelModal').modal('show');
        }

        $('#confirmCancelBtn').click(function () {
            var productId = $(this).data('product-id');
            window.location.href = '/product/delete/' + productId;
        });
    </script> *@




<style>
    .position-relative {
        position: relative;
    }

    .discount-label {
        top: 10px;
        left: 10px;
    }

    .rating-label {
        top: 10px;
        right: 10px;
    }

    .product-image {
        width: 100%;
        height: 250px; /* Fixed height */
        object-fit: cover; /* Ensures the image covers the area without distorting */
    }

    .btn-sm {
        padding: 0.25rem 0.5rem;
        border-radius: 0.25rem;
        font-size: 0.85rem;
    }

    .rounded-circle {
        border-radius: 50%;
    }
</style>
